
.container {
    overflow-x: auto;
}

.container__table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container__table--caption {
    font-size: 16px;
    line-height: 1, 5;
    font-weight: bold;
    padding: 20px
}

.container__table--tableCell {
    border: 2px solid rgb(11, 16, 87);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: cornsilk;
    color: hsla(240, 76%, 41%, 0.822)
}

.container__table--tableHeader {
    background-color: rgb(183, 240, 218);
    color: hsla(240, 76%, 41%, 0.822);
}
