html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgba(163, 204, 228, 0.267);
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1, 5;
}

.dark {
    background-color: #0c232e;
    color: rgba(163, 204, 228, 0.267);
}

.buttonChange {
    background-color: rgb(183, 240, 218);
    color: #0c232e;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}




